.title{
    text-align: center;
    position: relative;
}

.title span{
    width: 4%;
    height: 6px;
   background-color: var(--main-color);
   position: absolute;
   bottom: 0;
   left: 44.5%;
}
.title h1{
    color: var(--primary-color);
    cursor: pointer;
}
.title:hover span{
   width: 11%;
}
.about{
display: flex;
justify-content: space-between;
padding: 10% 6%;

}

.about .text p{
    letter-spacing: 1.3px;
    line-height: 1.5;
    width: 85%;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);
}
.about .person-image .image img{
    max-width:400px;
    max-height:350px;
}
.about .person-image .image::before{
    content: "";
    position: absolute;
    left:16%;
    top: -40px;
    width: 100px;
    height: 120%;
    background-color:var(--third-color);
    z-index: -1;
}

.about-info{
    display: flex;
    justify-content: space-evenly;

}
.about-info .col1,.col2 h1{
    color: var(--primary-color);
}
.about-info .col1,.about .btn{
    text-align: center;
    margin: 5% 0;
}

.about .btn{
    text-align: center;
}

/* skills section */
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 50px ;
    padding: 5% 0%;
}
.skills .left-side{
    text-align: center;
}
.skills .left-side h2{
    color: var(--third-color);
    font-weight: 600;
}

.skills .left-side p{
    font-size: 20px;
    letter-spacing: 1.3px;
    color: var(--primary-color);
}
.right-side .line .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-side{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
 .line .bar{
    position: relative;
}
 .line .bar::before{
    position: absolute;
    content: "";
    height: 100%;
    background-color: var(--third-color);
}
.line .html::before{
    width: 95%;
}
.line .css::before{
    width: 92%;
}
.line .js::before{
    width: 85%;
}
.line .bootstrap::before{
    width: 90%;
}
.right-side .line .info span{
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-color);
}
.right-side .line .bar{
    background-color: lightgray;
    width: 100%;
    height: 5px;
    
}